{% extends "base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Search Event</title>
	</head>
	<body>
		<div class="container"><br/><br/>
			<form method="POST" action="{% url 'search_event' %}">
			{% csrf_token %}

			<h1 class="text bg-primary text-light">Searched Event Down Below!</h1>
      		<h2 class="text bg-primary text-light">Searched Event!</h2>

      		{% if searched %}
      			{{ searched }}
      		{% endif %}

      		<br/><br/><br/>
      		<br/><br/><br/>
      		<br/><br/><br/><br/>
		</div>
	</body>
</html>
{% endblock %}